<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Video</title>
</head>

<body>
    <h1>Crear Nuevo Video</h1>

    <form method="post">
        {% csrf_token %}

        <label for="titulo">Nombre del video:</label>
        <input type="text" id="titulo" name="titulo" required><br>
        
        <label for="link">Enlace del Video:</label>
        <input type="text" id="link" name="link" required><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br>

        <input type="submit" value="Guardar Video">
    </form>

    <a href="{% url 'listar_material' idCurso unidad %}">
        <button>Volver a la Lista de Contenidos</button>
    </a>
</body>

</html>
