{% extends "KabasisWebApp/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4" id="columna-izquierda">
            <ul class="list-group">
                {% for curso in cursos %}
                <li class="list-group-item">
                    <h5 class="mb-1">{{curso.nombre}}</h5>
                    <p class="mb-1">{{curso.descripcion}}</p>
                    <button class="btn btn-primary btn-sm ver-curso" data-curso="{{curso.id}}">Editar Curso</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="p-4 border rounded bg-white" id="curso-frame" style="width: 60vw; height: 70vh;">
              
              <!--  Mejorar este if para que este mensaje solo se muestre cuando no se selecciona ningun curso
                           
                <h2> Bienvenido al menu de edición de contenido. Seleccione un curso para editarlo </h2>
              
             
             -->

              
                <h2 id="curso-nombre"></h2>
                <div id="unidades-container"></div>
                <div id="botones-edicion" class="mt-3"></div> <!-- Contenedor para los botones de edición -->
            </div>
        </div>
    </div>
</div>

<script>
    var verCursoButtons = document.querySelectorAll('.ver-curso');
    var cursoFrame = document.getElementById('curso-frame');
    var cursoNombre = document.getElementById('curso-nombre');
    var unidadesContainer = document.getElementById('unidades-container');
    var botonesEdicionDiv = document.getElementById('botones-edicion');

    verCursoButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            var idCurso = event.target.getAttribute('data-curso');
            $.ajax({
                url: '/obtener_unidades/' + idCurso + '/',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    var unidadesHTML = '';
                    data.unidades.forEach(function(unidad) {
                        unidadesHTML += '<button class="btn btn-primary mx-1 mb-2 unidad-btn" data-unidad="' + unidad.id + '">' + unidad.titulo + '</button>';
                    });
                    cursoNombre.textContent = data.cursoNombre;
                    unidadesContainer.innerHTML = unidadesHTML;

                    // Lógica para enviar información del curso, unidad y tipo de edición al hacer clic en un botón de edición
                    var unidadButtons = document.querySelectorAll('.unidad-btn');
                    unidadButtons.forEach(function(unidadButton) {
                        unidadButton.addEventListener('click', function() {
                            // Obtener información del curso y unidad seleccionados
                            var cursoId = idCurso;
                            var unidadId = unidadButton.getAttribute('data-unidad');
                            var unidadTitulo = unidadButton.textContent;

                            // Crear los botones de edición
                            var botonesEdicionHTML = `
                                <h3>Opciones de Edición:</h3>
                                <div class="mb-3">
                                    <button class="btn btn-info mx-1 agregar-btn" data-tipo="listar_material" data-curso="${cursoId}" data-unidad="${unidadId}">Agregar Quiz</button>
                                    <button class="btn btn-info mx-1 agregar-btn" data-tipo="listar_material" data-curso="${cursoId}" data-unidad="${unidadId}">Agregar Video</button>
                                    <button class="btn btn-info mx-1 agregar-btn" data-tipo="listar_material" data-curso="${cursoId}" data-unidad="${unidadId}">Agregar Actividad</button>
                                </div>
                            `;

                            // Agregar los botones de edición al contenedor
                            botonesEdicionDiv.innerHTML = botonesEdicionHTML;

                            // Lógica para enviar información del curso, unidad y tipo de edición al hacer clic en un botón de edición
                            var editarButtons = document.querySelectorAll('.agregar-btn');
                            editarButtons.forEach(function(editarButton) {
                                editarButton.addEventListener('click', function() {
                                    var tipoEdicion = editarButton.getAttribute('data-tipo');
                                    var cursoId = editarButton.getAttribute('data-curso');
                                    var unidadId = editarButton.getAttribute('data-unidad');
                                    // Construir la URL con la información del curso, unidad y tipo de edición
                                    var url = `/${tipoEdicion}/${cursoId}/${unidadId}/`;
                                    // Redirigir al usuario a la URL construida
                                    window.location.href = url;
                                });
                            });
                        });
                    });
                }
            });
        });
    });
</script>

{% endblock %}
